body {
    background: url('/static/img/background.png');
     background-size: cover;
    font-size: 18px;
    text-align: center;
    height: 500px;
    background-color: #F0F2F5;
}

h1 {
    color: #97CC83;
    text-decoration: none;
}

.enterURL {
    margin: auto;
    padding: 20px;
    background-color: #5C93FF;
    border-radius: 25px;
    width: 80%;
}

.enterURL label{
     margin-right: 10px;
}

#link {
      padding-left: 15px;
      background-color: #F0F2F5;
      border-radius: 50px;
      border: none;
      width: 40%;
      height: 30px;
}

#submit{
     background-color: #97CC83;
     padding: 10px;
     border-radius: 20px;
     height: 40px;

}

#submit:hover{
     background-color:#449D44;
     height: 40px;
     border: 1px solid black;
}